body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background:linear-gradient(to right, rgb(115, 88, 205) , rgb(66, 31, 62));
    color: #ffffff;
  }
  
  .login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  input, button {
    display: block;
    margin: 1rem 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }
  
  button {
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
